:root {
  --primary-text-color: #434455;
  --logo-color: #4d5ae5;
  --focus-color: #404bbf;
  --logo-part: #4d5ae5;
  --studio: #2e2f42;
  --batnsp: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-part);
}

.span {
  color: var(--studio);
}

.span-footer {
  color: #f4f4fd;
}

.list {
  list-style: none;
}

.main-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-nav:hover {
  color: #404bbf;
}
.main-nav:focus {
  color: #404bbf;
}

.adress {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}

.footer {
  background-color: #2e2f42;
}
.link {
  text-decoration: none;
}

.strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--studio);
}

.hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
:focus {
  background-color: #404bbf;
}

.paragraph-strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.section-one {
  background-color: #2e2f42;
}

.what-doing {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--studio);
}

.section-four {
  background-color: #f4f4fd;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--studio);
}

.team {
  background-color: #ffffff;
}

.but-nav-port {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-part);
  background-color: var(--batnsp);
  cursor: pointer;
}

.but-nav-port:hover,
:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--studio);
}

.Paragraph-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
